<div class="bg-gray-50 min-h-screen" >
  <!-- Header -->
  <header
    class="bg-gradient-to-b from-neutral-50 to-100% shadow sticky top-0 z-50"
  >
    <div class="container mx-auto flex justify-between items-center py-4 px-6" >
      <div class="flex items-center">
        <a routerLink="/">
          <img
            src="/icons/logo.svg"
            alt="Logo"
            class="w-30 h-10 object-contain"
          />
        </a>
      </div>
      <button
        class="md:hidden text-gray-600 focus:outline-none"
        (click)="toggleMobileMenu()"  
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4 6h16M4 12h16M4 18h16"
          />
        </svg>
      </button>

      <nav class="hidden md:flex gap-6 items-center">
        <a routerLink="sobre-nosotros" class="hover:text-blue-600 font-medium">
          Sobre nosotros</a
        >

        <div class="relative inline-block text-left">
          <button
            #toggleButton
            (click)="toggleServices()"
            class="hover:text-blue-600 font-medium focus:outline-none"
          >
            Servicios
          </button>

          <div
            *ngIf="showServices"
            class="absolute left-0 mt-2 w-50 bg-white border border-gray-200 rounded shadow-md z-50"
          >
            <a
              routerLink="/perfil"
              (click)="closeServices()"
              class="block px-4 py-2 hover:bg-gray-100"
              >Mantenimiento preventivo</a
            >
            <a
              routerLink="/configuracion"
              (click)="closeServices()"
              class="block px-4 py-2 hover:bg-gray-100"
              >Mecánica general</a
            >
            <a
              routerLink="/salir"
              (click)="closeServices()"
              class="block px-4 py-2 hover:bg-gray-100"
              >Respuestos originales</a
            >
            <a
              routerLink="/contacto"
              (click)="closeServices()"
              class="block px-4 py-2 hover:bg-gray-100"
              >Garantias</a
            >
            <a
              routerLink="/contacto"
              (click)="closeServices()"
              class="block px-4 py-2 hover:bg-gray-100"
              >Compañia de seguros</a
            >
          </div>
        </div>
        <a routerLink="contacto" class="hover:text-blue-600 font-medium"
          >Contacto</a
        >
        <a routerLink="agendar-cita" class="hover:text-blue-600 font-medium"
          >Agendar Cita</a
        >
        <a routerLink="cotizar" class="hover:text-blue-600 font-medium"
          >Cotizar</a
        >
        <div class="border-l border-gray-300 h-6"></div>
        <div class="bg-blue-600 p-2 rounded hover:bg-blue-400">
          <a routerLink="login" class="font-medium text-gray-50">Ingresar</a>
        </div>
      </nav>
    </div>
    <div
      *ngIf="mobileMenu"
      class="absolute left-0 right-0 top-full bg-white shadow-md md:hidden z-40 px-6 py-4"
    >
      <a
        routerLink="sobre-nosotros"
        (click)="closeMobileMenu()"
        class="block py-2 font-medium hover:text-blue-600"
        >AX.</a
      >
      <button
        (click)="toggleServices()"
        class="block w-full text-left py-2 font-medium hover:text-blue-600"
      >
        Servicios
      </button>

      <div *ngIf="showServices" class="pl-4">
        <a
          routerLink="/perfil"
          (click)="closeMobileMenu()"
          class="block py-2 hover:text-blue-600"
          >Mantenimiento preventivo</a
        >
        <a
          routerLink="/configuracion"
          (click)="closeMobileMenu()"
          class="block py-2 hover:text-blue-600"
          >Mecánica general</a
        >
        <a
          routerLink="/salir"
          (click)="closeMobileMenu()"
          class="block py-2 hover:text-blue-600"
          >Repuestos originales</a
        >
        <a
          routerLink="/contacto"
          (click)="closeMobileMenu()"
          class="block py-2 hover:text-blue-600"
          >Garantías</a
        >
        <a
          routerLink="/contacto"
          (click)="closeMobileMenu()"
          class="block py-2 hover:text-blue-600"
          >Compañía de seguros</a
        >
      </div>

      <a
        routerLink="/about"
        (click)="closeMobileMenu()"
        class="block py-2 font-medium hover:text-blue-600"
        >Contacto</a
      >
      <a
        routerLink="/agendar-cita"
        (click)="closeMobileMenu()"
        class="block py-2 font-medium hover:text-blue-600"
        >Agendar Cita</a
      >
      <a
        routerLink="/cotizar"
        (click)="closeMobileMenu()"
        class="block py-2 font-medium hover:text-blue-600"
        >Cotizar</a
      >
      <a
        routerLink="/login"
        (click)="closeMobileMenu()"
        class="block mt-4 bg-blue-600 text-white font-medium px-4 py-2 rounded hover:bg-blue-500 transition"
      >
        Ingresar
      </a>
    </div>
  </header>
  <router-outlet></router-outlet>
  <!-- Footer -->
  <footer class="bg-white mt-12 border-neutral-300 border-t">
    <div
      class="container mx-auto py-8 px-6 flex flex-col md:flex-row justify-between items-center text-gray-600"
    >
      <div class="flex items-center gap-2 mb-4 md:mb-0">
        <img
          src="/icons/logo.svg"
          alt="Logo"
          class="w-40 h-10 object-contain"
        />
      </div>
      <div class="mt-4 md:mt-0">
        <span class="text-sm"
          >&copy; 2025 .AX . Todos los derechos reservados.</span
        >
      </div>
    </div>
  </footer>
</div>
